.input {
    border: 1px solid orangered;
    padding-left: 10px;
    border-radius: 15px;
    height: 20px;
    width: 200px;
    outline: none;
}

.todolist_title {
    font-family: Roboto, sans-serif;
    display: inline-block;
    max-width: 230px;
    word-break: break-all;
}