
.app {
  background-image: url(assets/wallpaper.jpeg);
  height: max-content;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: content-box;
  min-height: 1100px;
  font-family: 'Roboto', sans-serif;
}

.add_todoList_block {
  margin: 50px;
  display: flex;
  align-items: center;
}

.todoLists_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}