.btn {
    margin: 5px;
    outline: none;
    border: none;
    background-color: orangered;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    height: max-content;
    width: max-content;
}

.btn2 {
    margin: 10px;
}

.active_btn {
    background-color: dodgerblue;
    color: black;
}